@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@900&family=Poppins:wght@200;300;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header .sticky{
    padding: 5px 100px;
    background: white;
    border-bottom: 1px solid black;
}

header .logo{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style-type: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

header .sticky .logo, header .sticky ul li a{
    color: black;
}

.banner{
    position: relative;
    width: 100%;
    background: url(assets/bg.jpg);
    min-width: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2{
    color: white;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.banner span{
    color: blue;
}

.sec{
    background: white;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}

h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: black;
    text-decoration: none;
    color: white;
}

.services{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box{
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.381);
}

.services .box:hover {
    background-color: rgba(0, 0, 0, 0.45); /* Black with 50% opacity */
    transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.services .box .iconBx{
    margin-top: 25px;
}

.services .box .iconBx img{
    margin-bottom: 15px;
    max-width: 70px;
}

.service .box h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.teamBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.teamBx .member{
    position: relative;
    background: black;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member .details h2{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member:hover .details{
    opacity: 1;
}

.teamBx .member .details h2 span{
    display: block;
    font-size: 20px;
    font-weight: 300;
}

html{
    scroll-behavior: smooth;
}